.vscode/
color/.vscode

color/Generate_Point_Cloud/Gaussian-model/GRAY/SPBR_DATA/
color/Generate_Point_Cloud/Gaussian-model/GRAY/IMAGE_DATA/
color/Generate_Point_Cloud/Gaussian-model/GRAY/*.o
color/Generate_Point_Cloud/Gaussian-model/GRAY/*.kvs
color/Generate_Point_Cloud/Gaussian-model/RGB/SPBR_DATA/
color/Generate_Point_Cloud/Gaussian-model/RGB/IMAGE_DATA/
color/Generate_Point_Cloud/Gaussian-model/RGB/*.o
color/Generate_Point_Cloud/Gaussian-model/RGB/*.kvs
color/NOISE_MODEL/

coords/Generate_Point_Cloud/Gaussian-model/SPBR_DATA/
coords/Generate_Point_Cloud/Gaussian-model/PLY_DATA/
coords/Generate_Point_Cloud/Gaussian-model/IMAGE_DATA/
coords/Generate_Point_Cloud/Gaussian-model/*.o
coords/Generate_Point_Cloud/Gaussian-model/*.kvs
coords/Generate_Point_Cloud/Outlier-model/SPBR_DATA/
coords/Generate_Point_Cloud/Outlier-model/PLY_DATA/
coords/Generate_Point_Cloud/Outlier-model/IMAGE_DATA/
coords/Generate_Point_Cloud/Outlier-model/*.o
coords/Generate_Point_Cloud/Outlier-model/*.kvs
coords/NOISE_MODEL/