.vscode/
color/.vscode

color/GRAY/Generate_Point_Cloud/SPBR_DATA/
color/GRAY/Generate_Point_Cloud/*.o
color/GRAY/Generate_Point_Cloud/*.kvs
color/GRAY/Generate_Point_Cloud/*.csv
color/GRAY/NOISE_MODEL/
color/GRAY/*.zip

color/RGB/Generate_Point_Cloud/SPBR_DATA/
color/RGB/Generate_Point_Cloud/*.o
color/RGB/Generate_Point_Cloud/*.kvs
color/RGB/Generate_Point_Cloud/*.csv
color/RGB/NOISE_MODEL/
color/RGB/*.zip

coords/Generate_Point_Cloud/Gaussian-model/SPBR_DATA/
coords/Generate_Point_Cloud/Gaussian-model/PLY_DATA/
coords/Generate_Point_Cloud/Gaussian-model/IMAGE_DATA/
coords/Generate_Point_Cloud/Gaussian-model/*.o
coords/Generate_Point_Cloud/Gaussian-model/*.kvs
coords/Generate_Point_Cloud/Outlier-model/SPBR_DATA/
coords/Generate_Point_Cloud/Outlier-model/PLY_DATA/
coords/Generate_Point_Cloud/Outlier-model/IMAGE_DATA/
coords/Generate_Point_Cloud/Outlier-model/*.o
coords/Generate_Point_Cloud/Outlier-model/*.kvs
coords/NOISE_MODEL/
coords/SPBR_DATA/
coords/IMAGE_DATA/